body {
  font-family: Arial, Helvetica, sans-serif;
}

.iconPulse {
  animation-name: iconPulse;
  animation-duration: 1.5s;
}

@keyframes iconPulse {
  0% {transform: scale(1.1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

.textPulse {
  animation-name: textPulse; 
  animation-duration: 1.5s; 
}

@keyframes textPulse {
  0% {transform: scale(1.05)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes firstUnstableMove {
  0% {transform: scale(1)}
  100% {transform: scale(1.04)}
}

.firstUnstable {
  animation-name: firstUnstableMove; 
  animation-duration: 1.5s; 
  transform: scale(1.04); 
  outline: solid 1px #f4e5c8;
  transition: outline 1.5s linear;
}

@keyframes stableMove {
  0% {transform: scale(1.04)}
  100% {transform: scale(1)}
}

.stable {
  animation-name: stableMove; 
  animation-duration: .5s; 
  transform: scale(1); 
}
